# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
!*.tfvars.example
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Bicep & ARM
*.json.bak
bicep.out.json

# Secrets & Keys
*.pem
*.key
*.pfx

# Operating System & IDE
.vscode/
.idea/
.DS_Store
Thumbs.db
